{%  extends 'maps/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body"></div>

        <p>Are you sure you want to delete "{{patient}}"</p>

        <form action="{% url 'delete_patient' patient.id %}" method="POST">
            <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
            {% csrf_token %}
            {{form}}

            <input class="btn btn-danger" type="submit" name="Confirm">

        </form>
    </div>
</div>
</div>
{% endblock %}